.box {
    display: flex;
    margin: 100px 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.link {
    padding: 40px;
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    background-color: rgb(49, 49, 49);
    transition: .3s transform;
    &:hover {
        transform: scale(1.1)
    }
}