@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(49, 49, 49)
}

a {
    text-decoration: none;
    color: inherit
}

h1,
h2,
img {
    padding: 0;
    margin: 0;
}

// catalog
.catalog {
    width: 600px;
    margin: 40px auto;
    display: grid;
    gap: 40px;
    &__list {
        display: grid;
        gap: 20px;
    }
    &__pagination {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        font-size: 22px;
    }
}

.item {
    width: 100%;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    gap: 10px;
    &__img {
        width: 100%;
        display: block;
        border-radius: 20px;
        object-fit: cover;
        height: 200px;
    }
    &__title {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
    }
}

.pagination-bullet {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    box-sizing: border-box;
    transition-duration: 300ms;
    transition-property: color background-color;
    &.active {
        background-color: red;
        color: #FFF;
        background-color: rgb(221, 221, 221);
    }
}